@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

@tailwind base;
@layer base {
    body {
        font-family: 'Red Hat Display', sans-serif;
    }
    button, input {
        @apply focus:outline-none;
    }
}
@tailwind components;
@layer components {
    @import '../components/CurtainMenu/CurtainMenu.css';
    @import '../components/Banner/Banner.css';
    @import '../components/Button/Button.css';
}
@tailwind utilities;
@layer utilities {
    @variants responsive {
        .responsive {
            @apply px-6 w-full mx-auto sm:px-0 sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl;
        }

        /* LINK TEXT */
        .link-text {
            @apply transition duration-200 cursor-pointer;
        }
        .link-text--primary {
            @apply hover:text-yellow-400;
        }
        .link-text--primary-dark {
            @apply text-yellow-400 hover:text-yellow-500;
        }
        .link-text--secondary {
            @apply hover:text-gray-900;
        }
        
        /* PERCENTAGE PADDING */
        .pt-30p {
            padding-top:30%;
        }
        .pt-35p {
            padding-top:35%;
        }
        .pt-40p {
            padding-top:40%;
        }
        .pt-50p {
            padding-top:50%;
        }
        .pt-60p {
            padding-top:60%;
        }
        .pt-70p {
            padding-top:70%;
        }
        .pt-80p {
            padding-top:80%;
        }
        .pt-90p {
            padding-top:90%;
        }
        .pt-100p {
            padding-top:100%;
        }
        .pt-110p {
            padding-top:110%;
        }
        .pt-120p {
            padding-top:120%;
        }
        .pt-130p {
            padding-top:130%;
        }
        .pt-140p {
            padding-top:140%;
        }
        .pt-150p {
            padding-top:160%;
        }

            
        /* LINE CLAMP */
        .lc-none {
            display: -webkit-box !important;
            -webkit-line-clamp: 0 !important;
            -webkit-box-orient: vertical !important;  
            overflow: '' !important;
        }
        .lc-1l {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .lc-2l {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .lc-3l {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        /* LINE CLAMP */
    }
}